{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Smavehyia Shahid</title>
	<meta charset="utf-8">
	<meta name= "viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="static/icon.ico" />
<link href="https://fonts.googleapis.com/css?family=Abel|Patua+One|Roboto|Archivo+Black" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Play|Poppins|Muli|Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type= "text/css" href= "{% static 'style.css' %}" >
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
	<!-- Navbar-->
<nav class= "my-navbar navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Logo-->
			<div class="navbar-header">
				<button type = "button" class="navbar-toggle" data-toggle="collapse" data-target="#mainbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="#myPage" class ="navbar-brand">
					<img src="static/mylogo.png" width="50" height="40" alt=""></a>
			</div>

			<!-- Menu Items-->
			<div class="collapse navbar-collapse" id="mainbar">
				<ul class= "nav navbar-nav navbar-right">
					<li class="active"><a href="#my-section">About Me</a></li>
					<li ><a href="#myPortfolio">Portfolio</a></li>
					<li ><a href="#slider-1">Expertise</a></li>
					<li ><a href="#myContact">Contact</a></li>
					<!--<li>
						<form class="navbar-form navbar-right" role= "search">
				<div class="form-group" >
      				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  				</div>
      			<button class="btn btn-outline-success" type="submit">Search</button>
    		    </form>
    		</li>-->
				</ul>

			</div>
		</div>
	</nav>

<!--Jumbotron-->
<div class= "jumbotron text-center">
	<div class="typewriter">
	<h1> Software Developer. Designer. Innovator. </h1>
</div>
	<!--<button type="button" class= "btn btn-danger" style="display:inline">Get to Know Me!</button>-->
	<img src="static/mylogo.png" class="img-responsive img-circle margin" style="display:inline" alt="me" width="150" height="100">

</div>

<!--container- for picture and check me out-->
<div id="my-section">
<div class="my-section container text-center" >
	<h3> "Innovation is the only way to win."<br></h3>
	<h6> -Steve Jobs</h6>
	<p> Hello there. My name is Smavehyia. I am an undergraduate Engineering student, attempting to solve big problems in the world through the help of technology and ideation. My interest lies in full-stack development as well as UX/UI design. In other words, I like to code things that have a purpose, from scratch, and make them look nice. 

		 </p>
	<br>
	<a class="btn" href="#myContact" role="button">Contact Me</a>
	<br>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<!--not sure about this picture
			<img src="static/mylogo.png" class="img-circle person" alt="me" width= "255" height="255">-->
			
		</div>
	</div>
</div>
</div>

<!--Portfolio Section-->
<div id="myPortfolio">
	<div class="myportfolio container-fluid text-center">
		<h2 class="text-center"> PORTFOLIO </h2> <br>
		<h4> What I have done so far</h4>
		<div class="row text-center">
			<div class="col-sm-3">
				<div class="thumbnail">
					<img src="static/IMG.jpg" alt="" width="100%" height="auto">
					<p><strong>Safety KeyChain </strong></p>
					<p>2017</p>
					<button class="btn" data-toggle="modal" data-target="#keychain"> Learn More </button>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
					<img src="static/puzzle.jpg" alt="" width="100%" height="auto">
					<p><strong>SYDE Puzzle Box</strong></p>
					<p>2017</p>
					<button class="btn" data-toggle="modal" data-target="#sydepuzzle"> Learn More </button>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
					<img src="static/project3.png" alt=""  width="100%" height="auto">
					<p><strong>Employee Management System</strong></p>
					<p>2018- in-progress</p>
					<button class="btn" data-toggle="modal" data-target="#project3"> Learn More </button>
				</div>
			</div>
				<div class="col-sm-3">
				<div class="thumbnail">
					<img src="static/aut.png" alt="" width="100%" height="auto">
					<p><strong>Aut2Learn</strong></p>
					<p>2018- in-progress</p>
					<button class="btn" data-toggle="modal" data-target="#project4"> Learn More </button>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<br>
<br>

<!--modal-->
<div class="modal fade" id="keychain" role="dialog" >
	<div class="modal-dialog" >

	<div class="modal-content" >
		<div class="modal-header" >
			<button type="button" class="close" data-dismiss="modal"> X</button>
			<h5> Safety KeyChain </h5>
		</div>
		<div class="modal-body">
			<p> In my first year design group, we implemented this safety keychain. This project was designed for upper year university students to use when they face dangerous situations. It has four main functions, a flashlight for better visibility, a sound alarm to alert others, a "send-a-text" feature to selected contacts and a 911 help button. A wireframe of the complimentary app which allows users to set up contacts and customized text message,  was also designed by us. This project exercised many components of the design cycle as well as use of SolidWorks, Arduino and Proto.io.  </p>
		</div>
	</div>

	<div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> Awesome!
          </button>
    </div>
</div>
</div>

<!--modal-->
<div class="modal fade" id="sydepuzzle" role="dialog" >
	<div class="modal-dialog" >

	<div class="modal-content" >
		<div class="modal-header" >
			<button type="button" class="close" data-dismiss="modal"> X</button>
			<h5> Puzzle Box </h5>
		</div>
		<div class="modal-body">
			<p> As a group, we designed a puzzle box using SolidWorks and 3D-printing. Puzzle boxes are essentially a series of simple puzzle steps that allow the user to open the box. We decided on creating a puzzle box with our program name. So the lid of the box has a track and letters hook on that track in different ways. Essentially, the "S" holds the box closed by sliding in the lid. Next slides in the Y, then D. E hooks on the knob in the corner. The user has to first twist off the E, slide the D vertically, slide the Y horizontally over and vertically out and finally slide the S off to open the box. </p>
				<p>My focus was to design six pieces in such a way that the user would find it intuitive but also be challenged. Each group member then went on their own to create their piece. I worked on the "S" which was the final connecting piece between the box. It was challenging because it had connections with other many different pieces. I used SolidWorks to model the system to see its interaction and would make improvements in an iterative manner.</p>
		</div>
	</div>

	<div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> Awesome!
          </button>
    </div>
</div>
</div>

<!--modal-->
<div class="modal fade" id="project3" role="dialog" >
	<div class="modal-dialog" >

	<div class="modal-content" >
		<div class="modal-header" >
			<button type="button" class="close" data-dismiss="modal"> X</button>
			<h5> Employee Management System </h5>
		</div>
		<div class="modal-body">
			<p> For this project, my goal was to come up with a system that would make the employee management easier in a small business setting. For software companies, Jira works well for issues, time-tracking and other key activities important for software teams. However, in smaller companies, alot of that work is manual. TimeTracker is a system that will allow employers to have all information about their employees in one place. It does their hour and wage calculations, keeps track of their vacation requests and any other work-related information. It gives employees the ability to log in, track their daily hours and put in virtual vacation requests all in one place, without the hasstle of going on a hunt for an HR representative. </p>
			<p>
				I am using Django and python as well as HTML and CSS for its development. I thought this would work well because Django already provides an admin interface which is efficient and also I felt I could learn a lot more about Django and Python by doing this. 
			</p>
		</div>
	</div>

	<div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> Awesome!
          </button>
    </div>
</div>
</div>

<!--modal-->
<div class="modal fade" id="project4" role="dialog" >
	<div class="modal-dialog" >

	<div class="modal-content" >
		<div class="modal-header" >
			<button type="button" class="close" data-dismiss="modal"> X</button>
			<h5> Aut2Learn </h5>
		</div>
		<div class="modal-body">
			<p> This project was created in a hackathon, Equithon 2018 which had a theme of equity. This app was created to accelerate learning for individuals with Autism and provide them with the support they need to be able to reach their maximum potential. </p>
			<p> Initially, this project required alot of user research about Autism and treatments that are in current use. ABA or Applied Behavioural Analysis therapy consistently showed up as an effective treatment for Autism. Essentially, this approach focuses on teaching motor, behavioural and everyday skills. It values positive reinforcement and can also be conducted by anyone easily. Thus, this was the approach taken for this app. </p>
			<p> The app essentially has two main pathways, one for the student and one for the parent/therapist. However, both accounts are under the login of the guardian. After logging in as the student, several different activities appear on the screen. These range from everyday task activities and situational games. The user engages in the app by picking the category, completing the activity and achieving points which show up in their profile. They also have a scoreboard where they can unlock trophies after certain point accumulations. 
			</p>
			<p>
			In the parents side of the app, their home screen opens to a progress tracker of the student where they can see how many activities the student has completed and how well they are engaged. They have a profile tab where they can change their password, email and account information. The final important part of the parents side of the app is the community tab. In this, the parent can connect with other guardians going through the same journey. This is also a connection for the parent to professionals and experts in the Autism and therapy domain. 
		</p>
		<p>
			In terms of developement, the app was initially prototyped in Proto.io and then coded in Android Studio using Java. However, the functionality of this app is so widespread that it is currently under further developement to improve that aspect.  
		</p>
		<a href="https://devpost.com/software/aut2learn-atqv7c">Check it out on DevPost</a>
		</div>
	</div>

	<div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> Awesome!
          </button>
    </div>
</div>
</div>

<!-- Carousel-->
<h2 class="text-center" >My Expertise </h2>
<h6 class= "text-center"> Skills I've Picked up</h6>
<!--<div class="expertise container-fluid">
	<div class="row">
		<div class="col-sm-12">-->
			<div id= "slider-1" class="carousel slide text-center" data-ride="carousel">

				<!--Indicators(dot nav)-->
				<ol class="carousel-indicators">
					<li data-target= "#slider-1" data-slide-to="0" class="active"></li>
					<li data-target= "#slider-1" data-slide-to="1"></li>
					<li data-target= "#slider-1" data-slide-to="2"></li>
				</ol>

				<!--Wrapper for slides-->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<h2 >Coding</h2><br>
						<span><i class="fas fa-file-code fa-5x"></i><br><br>
						 <p> Languages: C++, C#, Python, HTML(5), CSS(3) <br>
						Frameworks: Bootstrap, Django <br>
						Concepts: Object Oriented Programming, MVC Pattern, .NET Proficiency, JSON, Agile/Scrum, Android Development <br>
						Version Control: SVN, Git</p></span><br> <br>
						
				

						<!--<div class="carousel-caption">
							<h1>Software Developer. Designer. </h1>
						</div>-->
					</div>
					<div class="item">
							<h2> UX/UI</h2><br>
							<span><i class="fas fa-paint-brush fa-5x"></i><br> <br>
								<p> I have a simplistic approach to pull together an awesome UX/UI design.<br><br>
								Tools: Design Principles and User Centred Design Process, Prototyping, Figma, Illustrator, Adobe Photoshop, Sketch, InVision</p></span><br><br><br>

					</div>
					<div class="item">
							<h2> Innovation </h2><br>
							<span><i class="fas fa-lightbulb fa-5x"></i> <br><br><br>
								<p> I can make out-of-this-world ideas come to life!<br>
								Tools: SolidWorks, 3D-Printing</p></span><br><br><br>
					</div>

				<!--Navigation controls(next/previous-->
				<a class= "left carousel-control" href="#slider-1" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class= "right carousel-control" href="#slider-1" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>

<!--Contact-->
<div id= "myContact" class="contact container-fluid text-center">
	<h2 class="text-center">Want to work with me? </h2><br>
	<h6 class="text-center"> I'm always ready to jump on board with any crazy project you may have. </h6><br><br>
	<form action= "">
<div class= "col-md-8 col-sm-offset-2">
	<div class="row">
		<div class="col-sm-6 form-group">
			<input type="Name" class= "form-control" id= "name" placeholder="Name" type="text" required>
		</div>
		<div class="col-sm-6 form-group">
			<input type="Email" class= "form-control" id= "email" placeholder="Email" type="email" required>
		</div>
	</div>
		<textarea class= "form-control" id= "message" placeholder="Message..." rows="5" ></textarea>
		<br>
		<div class="row">
        <div class="col-md-12 form-group">
          <button class="btn1 pull-right" type="submit">Send</button>
        </div>
      </div>
</div>
</form>
</div>


<!--modal for contact-->




<!--footer-->
<footer class="footer text-center">
	<a class="up-arrow" href="#myPage" data-toggle="tooltip" data-placement= "top" title="Back to Top">
		<span class="glyphicon glyphicon-chevron-up"></span>
	</a><br><br>
	<p> <img src="static/mylogo.png" width="50" height="40" alt=""></a> Made By Smavehyia Shahid <br>
	 <i class="far fa-copyright"></i> 2018</p>
	 <ul class="social">
		<li><a href="https://github.com/Smavehyia"><i class="fab fa-github"></i></i></a></li>
		<li><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></i></a></li>
		<li><a href='https://plus.google.com/'><i class="fab fa-google-plus-g"></i></a></li>

	</ul>
</footer>
</body>
</html>